<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <center>
    <form  method="POST">
        {% csrf_token %}

        <label for="sn">school_name</label>
        <input type="text" name="sn" id="sn"><br><br>
        <label for="sp">school_principal</label>
        <input type="text" id="sp" name="sp"><br><br>
        <label for="sl">school_location</label>
        <input type="text" id="sl" name="sl"><br><br>
        <input type="submit" value="create_school">
    </form>
</center>
</body>
</html>